body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-family-sans-serif);
  margin: 0 auto;
  max-width: var(--site-width);
  min-height: 100vh;
  overflow-x: hidden;
}

main {
  padding: var(--spacing-l) var(--spacing-m);
}

@media (max-width: 600px) {
  main {
    padding: var(--spacing-m);
  }
}