:root {
  --color-background: #222222;
  --color-text: #ffffff;
  --color-main: #f5a442;
  --site-width: 1000px;

  --font-family-sans-serif: 'Work Sans', sans-serif;
  --font-family-serif: Georgia, serif;

  --font-size-s: calc(var(--font-size-m) * 0.9);
  --font-size-m: 1.4rem;
  --font-size-l: calc(var(--font-size-m) * 1.2);
  --font-size-xl: calc(var(--font-size-m) * 1.5);
  --font-size-xxl: calc(var(--font-size-m) * 2);

  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --spacing-xs: 0.2rem;
  --spacing-s: 0.5rem;
  --spacing-m: 1rem;
  --spacing-l: 1.5rem;
  --spacing-xl: 5rem;
}

@media (max-width: 600px) {
  :root {
    --font-size-m: 1rem;
  }
}