.article-header {
  margin-bottom: var(--spacing-l);
}

.article-metadata {
  font-size: var(--font-size-s);
}

.article-metadata::before {
  content: '—';
}

.article-content p {
  font-family: var(--font-family-serif);
}

.article-content > * + * {
  margin-top: var(--spacing-m);
}