.header {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: var(--spacing-l) var(--spacing-m);
}

.header-title {
  font-size: var(--font-size-l);
  margin-right: var(--spacing-m);
  text-decoration: none;
}

.header-title:hover {
  color: var(--color-main);
}

.header-nav {
  display: flex;
}

.header-nav-item + .header-nav-item {
  margin-left: var(--spacing-m);
}

.header-nav-item {
  font-size: var(--font-size-m);
}

.header-nav-item-link {
  text-decoration-color: var(--color-main);
}

.header-nav-item-link:hover {
  color: var(--color-main);
}

@media (max-width: 600px) {
  .header {
    padding: var(--spacing-m);
  }
}