.hero-content {
  margin: 0 auto;
  max-width: var(--site-width);
  padding: var(--spacing-xl) var(--spacing-m);
}

@media (max-width: 600px) {
  .hero-content {
    padding: var(--spacing-l) var(--spacing-m);
  }
}