.post-link {
  background: var(--color-background-light);
  border: 1px solid var(--color-text);
  display: block;
  padding: var(--spacing-m);
  text-decoration: none;
  transition: transform 0.2s;
}

.post-link h2 {
  text-decoration: underline var(--color-main);
}

.post-link > span {
  font-size: var(--font-size-s);
  font-style: italic;
}

.post-link p {
  margin-top: var(--spacing-s);
}

.post-link:hover {
  transform: translateY(calc(var(--spacing-xs) * -1));
}

.post-link:hover h2 {
  color: var(--color-main);
}

.post + .post {
  margin-top: var(--spacing-l);
}
